.favorites__container {
  width: 80%;
  margin: auto;
}

.movies__container {
  display: grid;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2.5rem;
  justify-content: space-evenly;
  justify-items: stretch;
}

.favorites__heading {
  text-align: center;
}

.empty {
  font-size: 21px;
  text-align: center;
  margin-top: 3rem;
}

.favorite__card {
  background-color: coral;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px black;
}

.favorite__img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.favorites__title {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
}

.favorites__title:hover {
  font-size: 19px;
}

.remove__favorite {
  display: block;
  background-color: rgb(189, 13, 13);
  color: white;

  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(189, 13, 13);
  border-radius: 0.3rem;
  cursor: pointer;
  width: 50%;
  margin: 0.5rem auto;
}
